.box{
    border:1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(rgb(255, 123, 0),rgb(238, 238, 239),green);
    background-image: linear-gradient(to right,red,blue);
    background-image: linear-gradient( rgb(255, 145, 0),rgb(205, 205, 215),green);

}

.mydiv{
    border: 1px solid black;
    margin: 10px;
    height: 300px;
    width: 200px;
    background-color: radial-gradient(circle,red,blue,orange);
    background-image: radial-gradient(yellow 5%, orange 10%,rgb(208, 28, 28) 50%);

}